@model HankoSpa.DTOs.PermissionDTO
@{
    ViewData["Title"] = "Crear Permiso";
}
<h2>Crear Permiso</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NombrePermiso"></label>
        <input asp-for="NombrePermiso" class="form-control" />
        <span asp-validation-for="NombrePermiso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Module"></label>
        <input asp-for="Module" class="form-control" />
        <span asp-validation-for="Module" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
