@model IEnumerable<HankoSpa.DTOs.PermissionDTO>
@{
    ViewData["Title"] = "Permisos";
}
<h2>Permisos</h2>
<a asp-action="Create" class="btn btn-primary mb-2">Nuevo Permiso</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre del Permiso</th>
            <th>Módulo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombrePermiso</td>
                <td>@item.Module</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PermisoId" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.PermisoId" class="btn btn-sm btn-info">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>

