@model HankoSpa.DTOs.CreateRolViewModel
@{
    ViewData["Title"] = "Crear Rol";
    var customRolId = User.FindFirst("CustomRolId")?.Value;
}

<h2 class="mt-4 mb-3 text-primary">✍️ Crear Rol</h2>

@if (customRolId == "1" || customRolId == "4" || customRolId == "5")
{
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="NombreRol"></label>
            <input asp-for="NombreRol" class="form-control" placeholder="Ingrese el nombre del rol" />
            <span asp-validation-for="NombreRol" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="SelectedPermissionIds"></label>
            <select asp-for="SelectedPermissionIds" asp-items="Model.AllPermissions" class="form-control" multiple="multiple"></select>
            <span asp-validation-for="SelectedPermissionIds" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Crear</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Volver</a>
    </form>
}
else
{
    <div class="alert alert-danger mt-4">
        No tienes permisos para crear roles.
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


