@model HankoSpa.DTOs.CustomRolDTO
@{
    ViewData["Title"] = "Crear Rol";
}
<h2>Crear Rol</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NombreRol"></label>
        <input asp-for="NombreRol" class="form-control" />
        <span asp-validation-for="NombreRol" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
