@model IEnumerable<HankoSpa.DTOs.CustomRolDTO>
@{
    ViewData["Title"] = "Roles";
}
<h2>Roles</h2>
<a asp-action="Create" class="btn btn-primary mb-2">Nuevo Rol</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre del Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreRol</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomRolId" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.CustomRolId" class="btn btn-sm btn-info">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>

